<div id="about-info" class="content-right">
  <h3>About Hoot</h3>
  <p>Hoot is an open source micro bloggin application developed for learning
  purposes.</p>

  <p>Hoot is licensed under
  <a href="http://www.gnu.org/licenses/">GNU General Public License v3</a>.</p>

  <p>You can find it's source code
  <a href="https://github.com/danielbucher/hoot">here</a>.</p>
</div>
