<div id="user-info" class="content-right">
  <h3>About Hoot</h3>
  <p>Hoot is an open source micro bloggin application developed for learning
  purposes.</p>

  <p>You can find it's source code
  <a href="https://github.com/danielbucher/hoot">here</a>.</p>
</div>
