<nav class="navbar navbar-default navbar-hoot" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><%= image_tag('hoot_logo.png') %></a>
    </div><!-- /.navbar-header -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <% unless params[:controller] == 'devise/registrations' %>
          <li><%= link_to "@#{current_user.username}", controller: :users,
                    action: :home, username: current_user.username %></li>
          <% end %>
        <li><%= link_to("Sign out", destroy_user_session_path,
              method: 'delete') %></li>
        <% else %>
        <li><%= link_to "Sign in", new_session_path('user') %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
