 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "*";

 body {
   background-color: #f5eedf;
 }

 .navbar-hoot {
   background: #594c2d;
   border: 0px solid;
   border-radius: 0px;
 }

 .navbar-default .navbar-brand {
   color: #ffeeb4;
 }

 .navbar-brand {
   padding: 0px 0px 0px 30px;
   margin-left: 0px;
 }

 .navbar-hoot .navbar-nav > li > a {
   color: #ffeeb4;
 }

 .navbar-hoot .navbar-nav > li:hover a {
   background: #2c240f;
   color: #fff;
 }

 #error_explanation {
   padding: 15px;
   margin-bottom: 20px;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: #f2dede;
 }

 form.new_user input, form.edit_user input {
   max-width: 200px;
 }

 form.new_user #user_remember_me, form.edit_user #user_remember_me {
   margin-left: 0px;
 }

  .content-left, .content-right {
    border: 1px solid #e1e8ed;
    background: #fff;
    border-radius: 6px;
    padding: 5px 10px 15px 20px;
  }

  .content-left h3, .content-right h3 {
    margin-top: 15px;
  }

  .content-mid {
    border: 1px solid #e1e8ed;
    background: #fff;
    border-radius: 6px;
  }

  .content-mid h2 {
    margin: 20px 15px 30px;
  }
