// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .lnk-edit-profile {
   margin-bottom: 12px;
   font-size: medium;
 }

 #new-hoot {
   border-radius: 5px;
   padding: 10px 5px 20px;
   border-bottom: 1px solid #e1e8ed;
 }

 .i-content {
   max-height: 240px;
   min-height: 80px;
   resize: none;
 }

 #s-hoot {
   min-height: 50px;
   padding: 0px 0px 10px;
 }

 #s-hoot input {
   float: right;
 }

 #user-hoots {
   border-radius: 5px;
   padding: 5px 5px 20px;
 }

 .hoot {
   border-bottom: 1px solid #e1e8ed;
   padding: 0px 10px;
 }

 .hoot-header {
   min-height: 25px;
   padding-bottom: 5px;
 }

 .u-hoot-date {
   font-size: small;
   float: right;
 }

 .post-content {
   margin-top: 2px;
   min-height: 60px;
 }

 #user-info {
   border: 1px solid #e1e8ed;
   background: #fff;
   border-radius: 6px;
   padding: 10px 10px 15px;
 }

 .user-content {
   border: 1px solid #e1e8ed;
   background: #fff;
   border-radius: 6px;
 }

 .user-suggestions {
   border: 1px solid #e1e8ed;
   background: #fff;
   border-radius: 6px;
   padding: 10px 10px 15px;
 }
